# .dockerignore

#####################
# Python artifacts
#####################
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg

#####################
# Virtual env / Poetry
#####################
venv
.venv
# Add poetry.lock below if you want to exclude it
# If needed, use (!poetry.lock) to include it in Dockerfile COPY commands

#####################
# Django / Logs / DB
#####################
db.sqlite3
*.log

#####################
# Environment files
#####################
.env
.env.*
!README.md # Use this pattern to NOT exclude README.md 

#####################
# Git / CI
#####################
.git
.gitignore

#####################
# Docker / Compose
#####################
Dockerfile
docker-compose.yml
docker-compose.*.yml

#####################
# IDE / Editor
#####################
.vscode
.idea

#####################
# System files
#####################
.DS_Store
Thumbs.db